*{
    margin: 0;
    padding: 0;
}

/*Tutorial parece un print de ppt*/

#tutorial{
    background-image: url(../imagenes/tutorial.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.wrapper {
    padding: 1.5rem 0;
    filter: url("#goo");
    /* margin-bottom: 25vw; */
    margin-left: 30vw;
    position: relative;
    float: left;
    color: gray;
    
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 2rem;
    margin-top: 22vw;
    margin-left: 40vw;
    background-color: greenyellow;
    border:2px white solid;
}
.button:hover{
    background-color: white;
    border:2px red solid;
}
/* .wrapper:hover{
    color: red;
}
 */
